<p id="notice"><%= notice %></p>

<h1> Musée </h1>
<h2> Antithèse  </h2>
<h3> Lucas Marsalle </h3>

<body>


 
<table>
  <!-- <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Author</th>
      <th>Year</th>
      <th>Photo</th>
      <th>Dimensions</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <tbody>
    <% @arts.each do |art| %>
      <tr class="flex-container">
        <td class="titre"><%= art.title %></td>
        <td class="auteur"><%= art.author %></td>
        <!-- <td><%= art.description %></td>
        <td><%= art.author %></td>
        <td><%= art.year %></td>-->
        <td><img class="popo" src="<%= art.photo %>" width="600px"/></td>>
        <!--<td><%= art.dimensions %></td>-->
        <td><%= link_to 'Show', art %></td>
        <td><%= link_to 'Edit', edit_art_path(art) %></td>
        <td><%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> 

</body>
<br>

<%= link_to 'New Art', new_art_path %>
